.messages-container {
    overflow: auto;
    height: calc(100vh - 520px);
    margin: 1rem 0;
}
.messages {
    flex: 1;
    min-height: 100%;
    padding: 20px 0 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.input-wrapper {
    height: 60px;
    border-top: 1px solid #e8e8e8;
    display: flex;
    align-items: center;
}

.input-wrapper input {
    width: 100%;
    font-size: 16px;
    padding: 7px 40px;
    border: none;
}
.messages .status {
    padding: 0 40px;
    margin-bottom: 20px;
    opacity: .5;
    order: 9999;
}
.messages .message {
    padding: 0 40px;
    margin-bottom: 20px;
}

.messages .message h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 3px;
}

.messages .message h3 span {
    color: #999;
    font-style: italic;
}

.onboard {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.onboard input {
    font-size: 32px;
    border: none;
    padding: 0 40px;
}

.header {
    padding: 10px 40px;
    border-bottom: 1px solid #e8e8e8;
    background: #fff;
}

.header h5 {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.header h5 span:first-child {
    flex: 1;
}

.connection-status {
    width: 8px;
    height: 8px;
    background-color: red;
    display: inline-block;
    border-radius: 8px;
}

.connection-status.connected {
    background-color: green;
}

.connected-users {
    color: #999;
    font-style: italic;
}