body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
header nav {
  position: relative;
  z-index: 9999;
}
main {
  flex: 1 0 auto;
  align-items: stretch;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
main .row {
  height: 100%;
}
main aside {
  height: 100%;
  padding: 1rem .75rem !important;
}