body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
header nav {
  position: relative;
  z-index: 9999;
}
main {
  flex: 1 0 auto;
  align-items: stretch;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
main .row {
  height: 100%;
}
main aside {
  height: 100%;
  padding: 1rem .75rem !important;
}

.notification {
  padding: 1rem !important;
  color: #ffffff;
  margin: .5rem !important;
}
.error {
  background-color: #c62828;
}
.success {
  background-color: #00e676;
}
.warning {
  background-color: #ff8f00;
}

.sort-link {
  display: inline-block;
  padding: 1px 5px;
  color: #ffffff;
}
.sort-link.active {
  background-color: #ffffff;
  color: #283593;
}