<li><a href="/">Home</a></li>
@loggedIn
<li>
    <a href="#">{{ auth.user.username }}</a>
</li>
<li>
    <a href="/logout">Logout</a>
</li>

    @else
<li><a href="/signin">Login</a></li>
<li><a href="/signup">Register</a></li>
    @endloggedIn
