<li><a href="/">Home</a></li>
<li>
    @loggedIn
        Hello {{ auth.user.username }}
    @else
        Please login
    @endloggedIn
</li>
<li><a href="/signin">Login</a></li>
<li><a href="/signup">Register</a></li>